  services:
    directus:
      image: directus/directus:11.1.1
      ports:
        - 8055:8055
      volumes:
        - ./uploads:/directus/uploads
        - ./extensions:/directus/extensions
      environment:
        SECRET: "3FB57A689E8B63D429AE9228CA63D"
        DB_CLIENT: "pg"
        DB_CONNECTION_STRING: "postgresql://neondb_owner:jS25vaokAFRC@ep-restless-cherry-a15cs05h.ap-southeast-1.aws.neon.tech/neon-db?sslmode=require" # Địa chỉ host từ Neon.tech
      
        STORAGE_LOCATIONS: "supabase"
        STORAGE_SUPABASE_DRIVER: "supabase"
        STORAGE_SUPABASE_SERVICE_ROLE: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdmanF6dW53dXp3ZHBlcXFqcXZhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTcyOTc2MzA0NSwiZXhwIjoyMDQ1MzM5MDQ1fQ.b2_AMyS3gbX7ClCYe2qPZxeLOk_Ixpl1r6vPyK6Ey2Q"
        STORAGE_SUPABASE_BUCKET: "marketplace-on-ton"
        STORAGE_SUPABASE_PROJECT_ID: "gfjqzunwuzwdpeqqjqva"

        # Send email
        EMAIL_FROM: "no-reply@example.com"
        EMAIL_TRANSPORT: "SMTP"
        EMAIL_SMTP_HOST: "sandbox.smtp.mailtrap.io"
        EMAIL_SMTP_PORT: "2525"
        EMAIL_SMTP_USER: "e7695ae20de35d"
        EMAIL_SMTP_PASSWORD: "95661712235dbd"
        EMAIL_SMTP_IGNORE_TLS: "true"
        # EMAIL_SMTP_NAME: ""
        
        CACHE_ENABLED: "false"
        CACHE_AUTO_PURGE: "false"

        ADMIN_EMAIL: "admin@example.com"
        ADMIN_PASSWORD: "123123123"
        
